@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: slalom;
  src: url(../public/fonts/ca-slalom-light.woff2);
}

@font-face {
  font-family: hilmar;
  src: url(../public/fonts/Hilmar-Light.otf);
}
.header-anchor {
  @apply no-underline after:text-link after:ml-2 hover:text-link hover:after:content-['#'] hover:cursor-pointer;
}

.scroll-offset {
  @apply scroll-mt-[55px]
}

.header-social-item {
  @apply size-5 hover:scale-105 hover:text-default text-excerpt transition-all
}

.border-custom {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #77e4ff, #79FFE1) 1;
}

.font-hilmar {
  font-family: hilmar;
}

.font-slalom {
  font-family: slalom;
}